hr {
    margin: 1.5%;
}

body {
    font-family: monospace;
    background-color: rgb(255, 235, 223);
    margin: 30px;
    font-size: large;
}

button {
    border-radius: 5px;
    background: rgb(119, 205, 138);
    color:rgb(0, 0, 0);
}

input[type="text"],
select,
textarea {
    border-radius: 5px;
}

.pfp_img {
    border-radius: 5px;
}
